body { 

    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #bce4ff;
}
header, footer {
    background-color: #000000;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: lem 0;

}
h1 {
    color: #ffffff

}